---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Meowww!</h1>
		<p class="mb-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget pharetra odio, sit amet
			tempor est. Donec vitae dictum dui, in tempor diam. <b>I code sometimes.</b> Vestibulum elit tellus,
			molestie vitae malesuada nec, ullamcorper id lorem. Integer magna urna, aliquam a luctus eget,
			sodales sed est. Sed finibus elit a enim viverra vulputate.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://github.com/KewKartik/NIRFTL"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>NIRFTL
				</a>:
				<p class="inline-block sm:mt-2">
					Top 200 NIRF colleges ranked on the basis of tier 1, 2 & 3.
				</p>
			</li>
			<li>
				<a
					href="https://github.com/KewKartik/NIRFTL-pdf"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>NIRFTL-pdf
				</a>:
				<p class="inline-block sm:mt-2">To extract data from nirf pdfs using pdfquery & pandas.</p>
			</li>
			<li>
				<a
					href="https://github.com/KewKartik/wholesomebot"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Wholesome Bot
				</a>:
				<p class="inline-block sm:mt-2">Reddit bot that counts the number of wholesome comments.</p>
			</li>
			<li>
				<a
					href="https://github.com/KewKartik/Timekeeper"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>TimeKeeper
				</a>:
				<p class="inline-block sm:mt-2">
					A countdown of the time remaining until the next major competitive exam.
				</p>
			</li>
			<li>
				<a
					href="https://github.com/KewKartik/HNsummary"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>HNSummary
				</a>:
				<p class="inline-block sm:mt-2">
					This extension summarizes articles on Hacker News using OpenAI api.
				</p>
			</li>
		</ul>
	</section>
</PageLayout>
