<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("button") as HTMLButtonElement;

			function setTheme(dark: boolean) {
				// This could/should be a CustomEvent()
				document.documentElement.classList.toggle("dark", dark);
				// set the aria-pressed attribute, dark mode === aria-pressed=true
				button.setAttribute("aria-pressed", String(dark));
			}

			// button clicked, toggle dark mode
			button.addEventListener("click", () => setTheme(!this.isDark()));

			// Initalise button state
			setTheme(this.isDark());
		}

		// returns if the root element contains the dark class
		isDark() {
			return document.documentElement.classList.contains("dark");
		}
	}

	customElements.define("theme-toggle", ThemeToggle);
</script>

<theme-toggle class="ms-auto">
	<button
		type="button"
		id="toggle-theme"
		class="group relative h-9 w-9 rounded-md bg-rose-200 ring-zinc-400 transition-all hover:ring-2 dark:bg-zinc-700"
		aria-label="Toggle Dark Mode"
	>
		<svg
			version="1.0"
			xmlns="http://www.w3.org/2000/svg"
			width="35px"
			height="35px"
			viewBox="0 0 1920.000000 1920.000000"
			preserveAspectRatio="xMidYMid meet"
		>
			<g
				transform="translate(0.000000,1920.000000) scale(0.100000,-0.100000)"
				fill="#000000"
				stroke="none"
			>
				<path
					d="M5797 17477 c-151 -53 -295 -187 -494 -459 -607 -828 -1012 -1609
					-1284 -2472 -154 -491 -262 -1038 -304 -1541 -25 -305 -31 -342 -70 -422 -18
					-40 -48 -93 -64 -117 -106 -154 -234 -451 -301 -696 -95 -354 -123 -611 -125
					-1190 l-2 -435 -37 -105 c-79 -222 -215 -446 -510 -840 -450 -601 -594 -912
					-584 -1259 l3 -104 44 99 c130 296 338 605 488 726 61 51 151 103 160 95 2 -3
					-32 -51 -77 -107 -219 -269 -393 -592 -472 -875 -43 -154 -59 -259 -64 -435
					l-5 -175 51 125 c66 161 205 444 266 540 71 112 187 252 246 298 51 38 138 88
					138 78 0 -3 -34 -49 -77 -103 -263 -337 -424 -664 -497 -1012 -24 -113 -43
					-251 -34 -241 3 3 36 66 75 140 130 252 228 395 342 502 59 56 174 129 185
					117 2 -2 -27 -47 -65 -99 -210 -292 -309 -583 -309 -908 l0 -117 39 96 c72
					178 130 270 226 358 56 50 142 108 150 99 2 -2 -9 -24 -26 -48 -156 -231 -224
					-519 -204 -863 4 -70 10 -127 14 -127 3 0 15 24 25 53 30 86 91 211 140 287
					43 66 176 210 195 210 4 0 -18 -52 -51 -117 -66 -131 -120 -290 -144 -420 -19
					-104 -29 -375 -17 -453 l9 -55 33 95 c40 114 116 269 180 365 65 98 174 205
					244 239 32 16 59 27 62 25 2 -2 -21 -42 -50 -89 -99 -153 -167 -351 -197 -570
					-14 -104 -16 -509 -4 -625 l8 -70 34 95 c152 426 430 729 973 1059 46 28 78
					51 71 51 -26 0 -247 -93 -349 -147 -132 -69 -231 -137 -344 -237 -49 -43 -84
					-70 -79 -60 223 417 549 762 942 997 110 66 113 69 70 62 -64 -9 -226 -50
					-301 -76 -93 -32 -273 -118 -358 -173 -40 -26 -75 -46 -77 -44 -2 2 29 41 69
					86 145 165 351 319 622 466 77 42 134 76 127 76 -6 0 -58 -7 -115 -15 -116
					-18 -252 -53 -366 -95 -85 -31 -269 -120 -313 -152 -44 -31 -32 -8 30 58 150
					161 331 287 607 426 l180 90 -71 -6 c-152 -13 -337 -61 -551 -145 l-128 -50
					70 65 c158 147 374 283 592 374 150 63 149 61 33 55 -137 -7 -314 -37 -475
					-80 -71 -19 -131 -32 -133 -30 -6 5 142 91 234 135 45 21 145 62 223 91 77 29
					139 54 137 56 -2 2 -61 -3 -132 -12 -221 -27 -416 -81 -603 -166 l-86 -39 61
					58 c161 154 366 271 699 399 l140 54 -122 -5 c-126 -6 -336 -33 -520 -66 -59
					-11 -112 -20 -117 -20 -17 1 58 45 194 114 203 104 423 183 665 242 61 14 112
					28 115 31 3 3 -105 3 -240 0 -242 -6 -395 -23 -555 -61 -33 -8 -62 -13 -64
					-11 -8 9 252 126 362 164 64 22 238 71 385 108 l267 68 -105 3 c-208 7 -619
					-31 -919 -84 -79 -14 -145 -23 -148 -21 -2 3 45 25 104 50 228 96 343 139 733
					273 134 47 247 88 250 91 10 11 -434 -7 -690 -27 -362 -29 -480 -36 -472 -28
					13 13 403 139 585 189 311 85 573 137 882 176 108 14 216 18 475 18 297 0 352
					-3 490 -23 683 -101 1205 -335 1784 -801 261 -210 525 -398 921 -655 143 -93
					265 -173 270 -178 16 -15 -128 58 -255 130 -173 98 -287 170 -735 467 -225
					150 -476 313 -556 363 -510 315 -927 485 -1349 548 -161 25 -463 25 -630 0
					-119 -17 -178 -36 -115 -36 49 0 272 -39 380 -66 250 -62 506 -162 719 -281
					112 -62 330 -203 324 -209 -2 -2 -57 16 -121 41 -179 68 -359 123 -497 153
					-109 23 -148 26 -305 26 -159 0 -191 -2 -275 -24 l-95 -25 215 -6 c236 -7 332
					-20 533 -73 362 -95 648 -234 1312 -634 595 -360 843 -487 1165 -598 129 -45
					133 -55 10 -29 -291 61 -612 199 -1060 455 -248 142 -230 131 -423 239 -372
					208 -679 325 -972 372 -124 20 -400 18 -520 -5 -121 -22 -150 -35 -80 -36 63
					0 274 -34 377 -61 310 -79 615 -223 958 -453 112 -74 290 -204 290 -211 0 -2
					-71 30 -157 72 -415 199 -569 262 -781 323 -127 35 -157 36 -54 0 106 -37 178
					-68 307 -132 188 -95 293 -160 720 -449 110 -75 228 -153 263 -174 34 -21 61
					-40 59 -42 -6 -5 -166 53 -286 104 -58 25 -225 103 -371 173 -146 70 -296 141
					-335 158 -122 53 -198 82 -202 78 -2 -2 56 -35 129 -74 73 -38 250 -136 393
					-217 307 -174 548 -293 662 -329 510 -159 1040 -186 1698 -86 376 57 779 153
					1524 364 295 83 358 96 473 96 143 0 252 -38 387 -135 115 -83 281 10 281 157
					0 34 -13 70 -54 152 -30 59 -62 139 -72 179 -27 106 -24 303 9 542 35 251 48
					415 54 675 7 317 -18 528 -128 1067 -85 419 -117 596 -134 740 -36 308 -85
					524 -220 972 -14 46 -23 86 -21 88 4 5 74 -113 115 -194 83 -167 160 -406 226
					-704 19 -90 40 -173 45 -184 14 -28 3 246 -16 405 -88 742 -491 1373 -1159
					1814 -175 116 -180 119 -105 90 708 -281 1253 -888 1435 -1598 35 -138 64
					-310 66 -392 1 -41 15 -113 18 -92 1 4 10 60 21 125 27 153 36 396 21 537 -60
					544 -318 987 -740 1267 -57 38 -99 69 -92 69 22 0 225 -87 351 -150 457 -229
					832 -565 1062 -952 118 -199 200 -418 237 -633 25 -149 36 -118 36 105 -1 190
					-9 250 -57 400 -82 258 -234 484 -510 762 -65 65 -116 118 -113 118 11 0 192
					-124 260 -178 304 -242 503 -489 666 -827 134 -278 225 -626 246 -943 3 -51 9
					-95 14 -97 11 -8 24 155 23 295 -2 227 -40 438 -123 688 -27 78 -46 142 -44
					142 10 0 146 -297 191 -420 119 -320 184 -621 215 -1005 l13 -150 27 110 c76
					315 84 630 22 928 -13 62 -21 114 -19 116 5 5 52 -104 80 -187 58 -170 68
					-249 68 -502 0 -197 -3 -255 -21 -360 -26 -149 -97 -434 -160 -644 -178 -595
					-227 -808 -254 -1101 -23 -247 18 -704 81 -908 25 -82 72 -155 105 -163 34 -9
					103 10 189 51 176 85 273 230 302 455 28 220 13 297 -67 341 -85 47 -114 141
					-70 228 47 91 145 103 254 30 57 -37 97 -114 132 -252 62 -245 34 -485 -82
					-709 -102 -199 -293 -341 -489 -364 -30 -4 -56 -10 -59 -13 -8 -13 53 -141
					107 -223 61 -94 133 -175 287 -323 327 -316 441 -708 341 -1167 -95 -436 -382
					-870 -764 -1158 -238 -178 -777 -521 -981 -622 -372 -186 -791 -279 -1390
					-307 -158 -8 -178 -11 -279 -45 -464 -156 -837 -566 -906 -999 -8 -47 -11
					-119 -7 -185 5 -102 24 -212 36 -212 3 0 19 41 35 90 122 387 409 697 854 922
					197 100 230 108 467 118 309 13 516 44 763 115 394 112 922 393 1340 711 188
					143 178 137 206 130 15 -4 32 -20 42 -39 44 -85 157 -277 161 -273 8 8 -43
					111 -87 176 -52 77 -70 119 -70 166 0 32 8 45 53 88 89 86 178 156 198 156 26
					0 76 -46 202 -190 304 -345 579 -738 786 -1123 30 -54 55 -96 58 -94 7 7 -92
					224 -164 359 -170 320 -424 664 -731 990 -103 110 -111 130 -61 172 24 21 34
					24 50 16 10 -6 19 -15 19 -21 0 -5 42 -54 93 -107 113 -117 306 -335 442 -496
					169 -202 183 -214 91 -76 -109 164 -244 329 -460 560 -135 145 -153 176 -137
					229 15 52 99 179 123 187 126 40 567 -245 1218 -786 185 -153 398 -337 490
					-424 128 -119 109 -90 -73 111 -351 392 -842 767 -1494 1142 -45 26 -73 48
					-73 59 0 32 54 122 77 128 16 4 93 -30 270 -121 136 -70 286 -149 333 -175 47
					-26 141 -77 210 -115 323 -177 608 -345 893 -528 87 -56 174 -112 195 -125
					112 -70 -214 195 -398 322 -249 172 -496 312 -1045 591 -203 103 -381 197
					-393 209 -20 17 -23 28 -18 61 7 54 51 151 71 159 35 13 143 5 254 -20 277
					-62 924 -300 1600 -588 85 -36 157 -64 159 -62 13 14 -440 245 -658 336 -326
					136 -794 287 -1160 375 -129 31 -160 46 -160 77 0 12 20 85 44 162 132 419
					196 697 248 1076 18 130 17 616 -1 735 -7 50 -27 158 -44 240 -44 215 -44 370
					1 623 41 235 59 391 72 627 11 204 9 295 -17 587 -19 215 -18 220 54 270 66
					45 198 84 413 121 14 2 4 5 -22 6 -58 1 -157 -19 -316 -66 -67 -20 -125 -33
					-128 -30 -8 8 31 154 56 212 30 69 84 123 143 140 28 8 64 16 81 16 27 2 28 3
					6 6 -14 2 -53 -3 -87 -11 -51 -12 -65 -12 -80 -1 -17 13 -17 16 1 87 10 40 45
					143 77 227 32 85 56 157 54 159 -2 3 -26 -9 -52 -25 -26 -17 -93 -56 -148 -88
					-117 -68 -222 -143 -262 -188 -16 -18 -55 -52 -88 -77 -33 -24 -127 -110 -209
					-190 -82 -80 -146 -137 -143 -127 17 47 121 180 212 272 131 133 276 240 485
					360 174 99 307 230 423 413 97 152 323 540 474 812 337 606 637 1225 910 1875
					142 338 196 514 213 699 18 188 -15 296 -110 361 -42 28 -51 30 -135 29 l-90
					0 -205 -101 c-185 -90 -394 -188 -676 -316 -1043 -474 -1947 -753 -2819 -871
					-60 -9 -166 -24 -235 -35 -338 -55 -685 -54 -1135 0 -159 19 -414 60 -985 158
					-482 83 -810 114 -1160 110 -230 -3 -236 -3 -280 20 -184 97 -435 379 -792
					891 -63 91 -176 253 -251 362 -135 196 -181 259 -382 523 -59 77 -195 262
					-303 410 -216 297 -356 480 -500 655 -117 141 -446 472 -562 564 -128 101
					-314 224 -410 269 -78 37 -93 41 -185 44 -85 3 -110 0 -168 -20z m402 -481
					c80 -32 152 -82 258 -175 103 -92 240 -241 221 -241 -7 0 -48 7 -91 15 -84 16
					-237 21 -222 7 6 -5 53 -24 105 -41 52 -18 129 -51 171 -72 73 -38 216 -146
					206 -156 -3 -2 -63 5 -134 17 -135 24 -390 30 -463 12 l-35 -9 60 -12 c291
					-57 392 -86 522 -146 77 -36 248 -143 241 -151 -3 -2 -43 5 -89 16 -213 50
					-506 75 -734 64 l-140 -7 128 -23 c324 -56 532 -117 736 -215 68 -33 121 -62
					118 -65 -2 -3 -72 2 -153 11 -235 26 -599 31 -785 10 -85 -9 -157 -20 -161
					-24 -4 -4 61 -12 145 -19 373 -30 697 -106 967 -227 125 -56 143 -70 80 -61
					-406 56 -933 52 -1350 -10 -180 -27 -180 -30 0 -26 471 12 918 -63 1290 -216
					84 -34 240 -109 240 -115 0 -2 -28 2 -62 9 -204 43 -517 74 -738 74 -247 0
					-609 -36 -850 -85 l-115 -23 126 -1 c491 -4 945 -67 1284 -178 161 -52 418
					-163 460 -198 11 -9 15 -14 10 -12 -17 8 -292 55 -419 71 -306 40 -680 43
					-1011 10 -152 -16 -494 -69 -503 -79 -3 -3 75 -3 174 1 191 7 495 -7 705 -31
					575 -67 1068 -220 1521 -471 113 -63 156 -94 109 -79 -72 23 -351 79 -496 100
					-248 35 -395 45 -679 45 -351 0 -601 -21 -961 -81 -328 -55 -328 -54 61 -55
					363 0 524 -12 794 -55 550 -88 1041 -284 1478 -592 88 -62 102 -83 32 -47 -81
					41 -271 111 -397 145 -281 77 -518 106 -873 106 -141 -1 -312 -5 -380 -11
					-142 -12 -460 -47 -535 -59 l-50 -8 80 -7 c868 -78 1456 -245 2005 -568 153
					-90 449 -312 501 -375 17 -20 21 -22 -128 55 -218 111 -424 187 -678 252 -314
					80 -568 110 -965 115 l-295 4 165 -29 c345 -61 620 -129 915 -226 1283 -422
					2376 -1255 3052 -2329 110 -175 279 -482 270 -491 -2 -3 -31 35 -63 83 -689
					1038 -1478 1812 -2204 2161 -355 171 -660 248 -1010 257 l-175 4 110 -19 c240
					-44 421 -103 630 -205 178 -87 456 -264 330 -210 -82 36 -293 104 -370 120
					-92 20 -319 32 -328 18 -3 -5 33 -15 81 -22 290 -44 588 -156 807 -305 85 -58
					344 -300 333 -311 -3 -3 -68 34 -144 83 -327 210 -521 289 -749 307 l-80 7
					116 -54 c181 -85 334 -179 459 -283 69 -57 232 -216 227 -222 -3 -2 -32 9 -64
					26 -260 131 -517 229 -686 262 -163 32 -165 24 -12 -44 77 -34 185 -86 240
					-116 114 -60 331 -203 390 -256 l40 -36 -40 6 c-22 4 -74 13 -115 21 -41 7
					-194 20 -340 29 -402 23 -548 48 -697 115 -74 34 -73 33 -73 21 0 -5 30 -32
					67 -61 124 -95 266 -149 528 -200 125 -24 288 -64 325 -78 l25 -10 -25 -6
					c-62 -15 -369 -47 -502 -53 -82 -3 -148 -9 -148 -13 0 -11 141 -47 230 -60 47
					-7 138 -8 245 -4 237 10 323 10 474 2 508 -29 1021 -189 1388 -435 116 -77
					373 -293 350 -293 -5 0 -72 40 -150 89 -477 297 -879 454 -1342 524 -142 21
					-175 22 -650 19 -299 -1 -546 2 -615 9 -234 21 -440 78 -634 175 -60 30 -112
					52 -114 49 -10 -10 131 -139 204 -187 80 -53 290 -160 401 -204 40 -16 73 -32
					73 -35 0 -13 -78 -38 -166 -55 -173 -32 -424 -8 -639 62 -81 27 -238 101 -287
					135 -57 41 -43 8 33 -75 65 -71 183 -150 332 -222 64 -31 117 -58 117 -61 0
					-11 -375 7 -478 22 -362 55 -607 191 -785 434 -74 100 -119 177 -142 241 -18
					48 -35 190 -24 190 4 0 26 -26 50 -57 66 -89 266 -282 357 -345 45 -32 82 -55
					82 -53 0 21 -197 336 -309 494 -246 347 -503 585 -827 765 -55 31 -103 56
					-106 56 -12 0 -17 -215 -8 -345 32 -477 179 -834 444 -1082 144 -135 290 -207
					521 -258 21 -4 3 12 -60 53 -155 101 -259 228 -316 382 -16 44 -29 83 -29 87
					0 3 28 -21 63 -53 215 -206 452 -344 965 -564 144 -62 262 -115 262 -119 0
					-17 -365 2 -552 29 -220 32 -525 98 -608 131 -643 257 -1054 809 -1215 1634
					-51 261 -60 381 -60 780 1 445 19 636 101 1075 196 1040 670 2114 1197 2710
					209 236 289 303 394 330 56 14 144 4 212 -24z m10662 -2489 c74 -49 115 -215
					74 -301 -36 -75 -102 -126 -245 -190 l-55 -25 80 -1 c75 -1 79 -2 60 -17 -72
					-57 -306 -144 -587 -218 -82 -22 -148 -42 -148 -45 0 -16 348 23 585 66 29 5
					29 4 10 -12 -28 -23 -184 -95 -296 -137 -111 -42 -353 -107 -644 -173 -115
					-27 -201 -50 -190 -52 24 -5 261 14 420 34 147 18 374 57 477 82 43 11 75 15
					71 9 -9 -15 -291 -148 -423 -200 -222 -87 -529 -181 -917 -283 -101 -26 -181
					-49 -179 -51 5 -5 458 54 586 77 267 48 573 137 754 219 38 17 71 29 73 27 6
					-6 -97 -95 -159 -137 -170 -116 -665 -307 -1333 -514 -308 -96 -507 -163 -485
					-164 8 -1 103 13 210 29 607 93 1084 227 1505 424 54 25 100 44 102 42 9 -8
					-139 -132 -228 -192 -194 -129 -678 -364 -1369 -665 -151 -66 -291 -127 -310
					-137 l-35 -17 45 -3 c203 -15 1016 221 1515 440 49 22 97 42 105 45 27 10 -53
					-67 -135 -132 -120 -94 -240 -171 -445 -285 -282 -158 -456 -261 -554 -331
					-119 -85 -268 -228 -341 -328 -32 -44 -65 -81 -72 -81 -6 0 -44 46 -82 103
					-175 256 -581 685 -853 901 -81 64 -150 125 -153 136 -14 44 6 61 280 232 359
					224 693 417 1380 798 777 431 1134 639 1530 891 258 163 308 182 376 136z
					m-1346 -2743 c-27 -25 -142 -126 -255 -224 -244 -211 -412 -382 -497 -505
					-120 -175 -126 -178 -170 -91 -14 28 -40 69 -57 91 -142 177 -140 208 23 313
					248 162 475 273 821 403 85 32 162 58 170 58 8 0 -7 -20 -35 -45z m-4110 -226
					c103 -209 181 -451 215 -668 13 -81 28 -400 20 -400 -3 0 -25 93 -49 208 -86
					413 -182 763 -272 990 -16 40 -29 76 -29 80 0 15 45 -68 115 -210z m4139 -100
					c-25 -42 -121 -142 -274 -285 -244 -228 -340 -338 -436 -499 -11 -18 -13 -18
					-40 7 -16 14 -41 33 -56 42 -50 31 -39 59 65 164 99 103 233 216 391 333 101
					75 348 249 354 250 2 0 0 -6 -4 -12z m-772 -855 c25 -57 14 -77 -77 -141 -70
					-50 -188 -154 -320 -283 -38 -38 -72 -64 -73 -59 -13 36 207 359 349 514 l52
					57 25 -23 c13 -13 33 -42 44 -65z m-8982 -198 c174 -24 353 -56 370 -67 18
					-11 -182 -5 -600 18 -167 9 -379 14 -512 12 -125 -2 -222 0 -215 3 14 8 140
					35 232 49 92 14 590 4 725 -15z m100 -219 c189 -24 395 -62 553 -102 78 -19
					144 -38 147 -41 5 -6 -15 -4 -285 22 -515 49 -1218 69 -1679 46 -131 -7 -240
					-10 -243 -8 -11 11 381 71 597 92 192 18 733 13 910 -9z m-185 -297 c191 -12
					474 -49 640 -83 186 -38 351 -79 338 -83 -6 -2 -58 3 -115 11 -129 19 -439 51
					-668 68 -337 25 -1617 13 -1860 -17 -27 -4 -31 -3 -15 5 11 5 103 20 205 34
					366 50 558 66 875 74 273 8 374 6 600 -9z m4289 -44 c39 -8 73 -18 77 -22 4
					-5 -42 -9 -104 -9 -62 -1 -141 -7 -177 -14 -214 -39 -458 -157 -682 -327 -32
					-24 -58 -40 -58 -35 0 6 20 36 43 68 177 239 608 401 901 339z m40 -189 c52
					-22 117 -86 142 -141 72 -153 -32 -355 -181 -355 -77 0 -144 53 -165 130 -6
					22 -22 47 -36 57 -75 53 -84 64 -84 103 0 57 -19 66 -67 31 -47 -34 -75 -88
					-104 -206 -31 -124 -83 -180 -111 -119 -18 40 4 145 52 241 73 147 204 250
					347 273 72 11 162 5 207 -14z m4955 -41 c-3 -2 -72 -27 -154 -56 -191 -66
					-349 -133 -552 -236 -90 -45 -163 -80 -163 -78 0 7 169 118 233 154 140 78
					349 156 521 196 107 25 122 28 115 20z m-9484 -115 c475 -27 828 -106 1120
					-251 46 -24 83 -44 81 -46 -1 -2 -73 15 -159 37 -514 131 -1067 164 -2032 121
					-392 -18 -601 -22 -585 -12 8 5 96 25 195 45 479 94 954 130 1380 106z m3792
					-117 c-28 -102 -40 -221 -33 -322 29 -435 277 -777 594 -823 114 -17 213 4
					352 74 90 45 118 65 195 143 106 107 171 210 214 340 60 180 60 361 0 538 -16
					50 -28 92 -26 94 3 2 38 -30 80 -70 180 -176 267 -389 254 -621 -7 -120 -25
					-194 -73 -295 -193 -410 -667 -596 -1119 -439 -242 83 -470 264 -602 475 -104
					168 -152 328 -160 541 l-6 142 99 98 c87 86 232 198 243 186 2 -2 -3 -29 -12
					-61z m1852 -483 c40 -101 86 -294 112 -470 36 -240 30 -549 -12 -610 -8 -13
					-13 -11 -32 13 -12 15 -29 51 -37 79 -10 32 -25 59 -43 72 -25 19 -32 19 -95
					8 -185 -34 -244 -42 -321 -42 l-85 0 70 46 c184 122 304 299 349 515 22 104
					36 301 29 427 l-5 107 20 -35 c11 -19 34 -69 50 -110z m3487 -577 c36 -147 15
					-416 -48 -611 -74 -234 -154 -350 -287 -416 -96 -48 -211 -57 -277 -23 l-27
					14 88 49 c340 189 494 492 495 975 l1 154 20 -37 c10 -21 26 -68 35 -105z"
				></path>
				<path
					d="M5487 12583 c467 -464 657 -682 831 -957 31 -48 58 -84 60 -78 5 17
					-66 191 -120 292 -180 339 -508 703 -854 947 -98 69 -285 183 -300 183 -5 0
					168 -174 383 -387z"
				></path>
				<path
					d="M6080 12497 c168 -169 306 -307 308 -307 21 0 -169 220 -304 350
					-101 98 -240 217 -294 254 -8 5 122 -128 290 -297z"
				></path>
				<path
					d="M4921 12652 c0 -4 39 -38 86 -77 345 -281 755 -735 1117 -1238 55
					-75 101 -135 104 -133 15 16 -68 276 -132 411 -104 220 -239 409 -426 596
					-221 221 -446 364 -678 428 -39 11 -72 17 -71 13z"
				></path>
				<path
					d="M13033 6909 c-74 -12 -147 -43 -237 -101 -105 -67 -144 -72 -222 -28
					-47 26 -61 30 -80 21 -50 -23 -43 -98 17 -192 62 -95 149 -180 299 -292 179
					-134 257 -213 306 -313 l39 -78 0 -126 c-1 -105 -4 -134 -23 -181 -126 -318
					-561 -583 -1107 -675 -122 -20 -375 -23 -458 -5 -32 7 -61 10 -64 7 -10 -10
					47 -76 95 -111 204 -150 603 -103 1119 131 164 74 199 80 265 41 24 -14 89
					-69 146 -124 125 -119 183 -153 259 -153 44 0 58 5 78 25 14 13 25 31 25 41 0
					9 -33 48 -72 88 -62 60 -84 92 -143 205 -38 74 -76 151 -83 170 -20 53 -9 129
					33 223 20 46 43 115 50 153 24 131 58 195 160 298 84 86 118 107 175 107 61 0
					85 18 186 135 194 226 267 388 219 488 -27 58 -58 58 -201 1 -111 -45 -125
					-48 -209 -49 -72 0 -106 5 -170 27 -181 61 -300 63 -458 6 -46 -16 -60 -18
					-72 -8 -30 25 -12 66 40 92 104 52 256 56 500 13 174 -30 271 -30 390 -1 33 8
					72 17 86 20 34 7 44 32 24 62 -32 49 -59 54 -242 48 -148 -5 -189 -3 -346 20
					-185 27 -237 29 -324 15z"
				></path>
				<path
					d="M8645 6329 c-1424 -56 -2654 -306 -3725 -756 -260 -109 -654 -308
					-915 -463 -517 -305 -1060 -751 -1465 -1200 -182 -202 -185 -216 -9 -44 361
					353 673 608 1067 871 1223 820 2748 1301 4632 1463 721 61 1604 82 2445 56
					l140 -5 -120 14 c-492 55 -1482 86 -2050 64z"
				></path>
				<path
					d="M10175 5879 c-2520 -82 -4602 -752 -6027 -1940 -223 -186 -548 -499
					-654 -629 -31 -38 -38 -43 203 170 676 602 1493 1100 2402 1467 1096 442 2354
					717 4140 907 128 14 236 28 239 31 3 3 -12 4 -34 3 -21 0 -142 -5 -269 -9z"
				></path>
				<path
					d="M10720 5703 c-259 -26 -449 -50 -610 -74 -1448 -223 -2789 -788
					-3737 -1575 -162 -135 -220 -189 -398 -369 -512 -517 -878 -1110 -1100 -1783
					-20 -62 -35 -115 -33 -117 2 -2 25 51 52 118 136 346 383 781 625 1102 209
					277 547 633 810 854 1054 886 2498 1492 4311 1807 113 20 207 38 209 40 5 4
					-74 3 -129 -3z"
				></path>
				<path
					d="M10465 5371 c-1057 -269 -1990 -786 -2705 -1501 -445 -444 -773 -925
					-1003 -1470 -95 -225 -90 -229 21 -15 382 738 883 1323 1583 1853 586 443
					1244 788 2094 1098 110 40 191 73 180 73 -11 0 -87 -17 -170 -38z"
				></path>
				<path
					d="M10725 5071 c-532 -261 -943 -550 -1363 -956 -263 -254 -536 -576
					-721 -847 -55 -82 -27 -53 62 65 448 591 1098 1159 1827 1599 112 67 175 103
					360 207 107 60 32 29 -165 -68z"
				></path>
				<path d="M8589 3193 c-13 -16 -12 -17 4 -4 16 13 21 21 13 21 -2 0 -10 -8 -17
					-17z"></path>
			</g>
		</svg>
	</button>
</theme-toggle>
